@charset "utf-8";
body {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	width: 100%;
	height: 100%;
	background: #dcf1f1!important;
}

body,
html {
	-webkit-text-size-adjust: none;
	width: 100%;
	height: 100%;
}

* {
	text-decoration: none;
	list-style: none;
	font-size: 38px;
	font-family: "微软雅黑";
	color: #000;
}

img {
	border: 0px;
}

ul,
li,
dl,
dd,
dt,
p,
ol,
h1,
h2,
h3,
h4,
h5 {
	padding: 0;
	margin: 0;
	font-size: 14px;
	font-weight: normal;
}

.clear {
	clear: both;
}

html {
	font-size: 625%;
}

body,
html {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: Microsoft YaHei;
	font-size: 38px;
	font-size: .38rem;
	background-size: cover;
	background-attachment: fixed;
}

span {
	font-size: 32px;
	font-size: 0.32rem;
}

.top {
	background: url(../img/top_bg.png) no-repeat top;
	background-size: 100%;
	width: 100%;
	height: 5.8rem;
	position: relative;
}

.top li {
	float: left;
	width: 2rem;
	height: 2rem;
	border-radius: 2rem;
	overflow: hidden;
	margin: 0 .1rem;
}

.top li img {
	width: 100%;
}

.top ul {
	position: absolute;
	width: 65%;
	margin-left: 1.9rem;
	top: 2rem;
}

.signin {
	width: 97%;
	height: 8.2rem;
	background: url(../img/login_bg.png) no-repeat;
	margin: 0 auto;
	background-size: 100%;
	padding-top: 1rem;
}

.form-signin {
	max-width: 9.3rem;
	padding: .43rem .15rem .15rem .15rem;
	margin: 0 auto;
}

.form-signin .checkbox {
	margin-bottom: .1rem;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	font-size: .4rem;
	height: auto;
	padding: .4rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="text"] {
	margin-bottom: .5rem;
	border-radius: 0;
	background: url(../img/account.png) 0 0 #f0f0f0 no-repeat;
	background-size: 7%;
	background-position: .5rem;
	padding-left: 1.9rem;
	border-radius: .2rem;
	border: 1px solid #17d5cf;
}

.form-signin input[type="password"] {
	border-radius: 0;
	background: url(../img/password.png) 0 0 #f0f0f0 no-repeat;
	padding-left: 1.9rem;
	background-size: 7%;
	background-position: .5rem;
	border-radius: .2rem;
	margin-bottom: 1rem;
	border: 1px solid #17d5cf;
}

.form-signin button {
	border-radius: 0;
	border-radius: .2rem;
	height: 1.3rem;
	background: #17d5cf;
	border: 1px solid #17d5cf;
}

.bottom {
	text-align: center;
	position: fixed;
	bottom: .1rem;
	width: 100%;
}

.bottom p {
	text-align: center;
	font-size: .32rem;
}

.yz{
	width: 60%;
	margin: auto;
	padding-top: 3rem
}
.yz img{
	float: left;
	width: .8rem;
}

.yz span{
	float: left;
	font-size: .48rem;
	padding-left: .4rem;
	line-height: 1.8;
}




